// Colors

$colorWhite: #ffffff;
$colorTextWhite: #ffffff;
$colorBlack: #000000;
$colorGray: #777777;
$colorTextRed: #ba0000;
$colorRed: #ba0000;
$colorRedDark: #9d0000;
$colorTextYellow: #ffcc00;
$colorYellow: #ffcc00;

